html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .90em 'arial', arial, sans-serif;
  background: transparent;
  color: #000;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
  font-size: 120% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'arial', arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;}

h2
{ font: normal 165% 'arial', arial, sans-serif;}

h3
{ font: normal 120% 'arial', arial, sans-serif;
}

h3 a, h3 a:hover
{ color: #941014;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 150% 'arial', arial, sans-serif;
  color: #941014;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% 'arial', arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: none;
  color: #00C0C0;
}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 120%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: #999999;}

#header
{ width: 920px;
  padding: 0px 0 0 0;
  background: transparent;}

#banner
{ width: 920px;
  position: relative;
  text-align: left; 
  height: 85px;
  padding: 30px 0px 0px 0px;
  background: transparent;}

#banner a
{ margin-top: 30px;
  font: normal 300% arial;
  letter-spacing: -1px;
  text-decoration: none;
  color: #FFF;}

#menubar
{ width: 920px;
  height: 35px;
  text-align: center; 
  margin: 0 auto;
  background: transparent;} 

ul#menu
{ 
  margin:0}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font: normal 130% 'arial', arial, sans-serif;
  float: left;
  letter-spacing: -1px;
  height: 35px;
  width: 153.33px;
  padding: 15px 0 0 0;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: transparent url(../images/tab.png);} 

ul#menu li.last
{ margin: 2px 0 0 0;
  background: transparent;}

ul#menu li.last a, ul#menu li.last a:hover
{ background: transparent url(../images/tab_l.png);
  /*color: #FFF;*//*Ding*/}

ul#menu li a:hover
{ color: #000;}

#site_content
{ width: 900px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0px 0 20px;
  background: #FFF;} 

.sidebar_container
{ float: left;
  width: 224px;
  padding: 0;}

.sidebar_top
{ float: left;
  width: 224px;
  height: 15px;
  background: url(../images/side_top.png) no-repeat;}

.sidebar_base
{ float: left;
  width: 224px;
  height: 15px;
  background: url(../images/side_base.png) no-repeat;}

.sidebar
{ float: left;
  width: 225px;
  padding: 0;
  background: url(../images/side_back.png) repeat-y;
  margin-top: 20px;
  margin-bottom: 20px;}

.sidebar h4
{ font-size: 125%;}

.sidebar ul li, .sidebar ul li.selected
{ list-style: none; 
  margin: 15px 0;
  padding: 0;}

.sidebar li.selected, .sidebar li:hover
{ color: #5D5D5D;
  text-decoration: none;} 

.sidebar_item
{ padding: 0 0 0 15px;
  width: 201px;}

.sidebar_item h1
{ padding: 20px 0 10px 0;
  margin: 0;}

.content_item
{ margin-top: 20px;
  margin-bottom: 20px;}

#content
{ width: 655px;
  padding: 0;
  margin: 0;
  float: left;}

#footer
{ font: normal 90% 'arial', arial, sans-serif;
  letter-spacing: 0px;
  height: 10px;
  padding: 0px 0 12px 0;
  text-align: center; 
  color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

#footer_container
{ width: 880px;
  margin: 0 auto;}

.footer_container_box
{ font: normal 80% 'arial', arial, sans-serif;
  width: 260px;
  padding: 5px;
  text-align: left;
  margin: 10px 10px 10px 10px;
  float: left;
  background: transparent;
  color: #FFF;}
  
.center {
  display: block;
  margin-left: 30px;
  margin-right: 5px;
  width: 125%;
}

 .button
{ height: 30px;
  width: 100px;
  padding: 12px 0 0 30px;
  background: transparent url(../images/button.png) no-repeat;}

.footer_container_boxl
{ font: normal 80% 'arial', arial, sans-serif;
  width: 260px;
  padding: 5px;
  text-align: left;
  margin: 10px 0 10px 10px;
  float: left;
  background: transparent;
  color: #FFF;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #5082BD; 
  color: #FFF;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 880px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding-top: 20px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 880px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 20px 25px 0 25px;   
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;}
